{% extends "base.html" %}
{% load crispy_forms_tags app_extras  %}
{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

    {% row "container my-5" %}
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mb-4">Set a new password!</h1>
            <form method="POST" class="form-signin">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Change my password</button>
            </form>
        </div>
    {% endrow %}

{% else %}

    {% row "container my-5" %}
        <div class="col-md-6 offset-md-3">
            <p class="text-center">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        </div>
    {% endrow %}

{% endif %}

{% endblock %}
