{% extends 'base.html' %}
{% load crispy_forms_tags app_extras  %}
{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
    {% row "container my-5" %}
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center mb-4">Forgot your password?</h1>
        <p class="lead text-center mb-4">Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST" class="form-signin text-center">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Send me instructions!</button>
        </form>
      </div>
    {% endrow %}
{% endblock %}
